<launch>
  <node pkg="roseus" type="roseus" name="alert_service"
        args="$(find baxter_bartender)/euslisp/alert-service.l"
        output="screen" />
  <node pkg="baxter_bartender" type="predifined-postures.l"
	name="predifined_postures" output="screen" >
    <env name="POSE_PLAY_PANEL_DATA_PATH"
	 value="$(find baxter_bartender)/img" />
  </node>
  <include
      file="$(find baxter_bartender)/teleop/HandCameraController.launch" />
  <include
      file="$(find baxter_bartender)/www/www_baxter_gui.launch" />
  <!--
  <node pkg="baxter_bartender" type="posture-controller.l"
	name="posture_controller" output="screen" />
  -->
  <node pkg="baxter_bartender" type="table-reacher.l"
	name="table_reacher" output="screen" />
  <node pkg="baxter_bartender" type="analog-rel-controller.l"
	name="analog_rel_controller" output="screen" />
  <node pkg="baxter_bartender" type="oshibori-reacher.l"
	name="oshibori_reacher" output="screen" />
  <node pkg="baxter_bartender" type="spacenav2posestamped.l"
	name="spacenav2posestamped" output="screen" />
</launch>
