<launch>
  <include file="$(find openni_launch)/launch/openni.launch" />
  <node pkg="roseus" type="roseus" name="spacenav_tf_publisher"
        args="$(find baxter_bartender)/euslisp/spacenav_tf_publisher.l"
        output="screen" />
  <!--
  <node pkg="spacenav_node" type="spacenav_node" name="spacenav_node" />
      <node pkg="kinect_calib_test" type="spacenav.sh" name="spacenav_node"
      output="screen" />
  -->
  <!--
  <node name="kinect_rviz" pkg="rviz" type="rviz" />
  -->
</launch>
