<launch>
  <!--
  <node pkg="image_transport"
	type="republish"
	name="right_hand_camera_republisher"
	args="raw in:=/cameras/right_hand_camera/image out:=/cameras/right_hand_camera/image/repub"
	output="screen" />
  <node pkg="kao_project"
	type="run_jar.sh"
	name="right_kubi_interface"
	args="$(find kao_project)/bin/KubiInterface.jar -r $(env ROS_IP) -m $(env ROS_MASTER_URI) -n kubi_interface/right_hand -t /image/raw:=/cameras/right_hand_camera/image/repub -w"
	output="screen" />
  -->
  <node pkg="image_transport"
	type="republish"
	name="left_hand_camera_republisher"
	args="raw in:=/cameras/left_hand_camera/image out:=/cameras/left_hand_camera/image/repub"
	output="screen" />
  <node pkg="kao_project"
	type="run_jar.sh"
	name="left_kubi_interface"
	args="$(find kao_project)/bin/KubiInterface.jar -r $(env ROS_IP) -m $(env ROS_MASTER_URI) -n kubi_interface/left_hand -t /image/raw:=/cameras/left_hand_camera/image/repub -w"
	output="screen" />
  <!-- -->
  <node pkg="kao_project"
	type="face_detect_node"
	name="face_detect_node"
	output="screen" >
    <remap from="/face_detector/image/raw"
	   to="/cameras/head_camera/image" />
  </node>
</launch>
