<launch>
  <node name="simple" pkg="set_phrase_talker" type="simple" output="screen"/>
  <param
      name="filename"
      value="$(find set_phrase_talker)/examples/simple.txt" >
  </param>
  <!-- <rosparam> -->
  <!--   filename: "$(find set_phrase_talker)/examples/simple.txt" -->
  <!-- </rosparam> -->
</launch>
