<launch>
  <node name="simple" pkg="robot_bar_pkg" type="simple" output="screen"/>
  <param
      name="filename"
      value="$(find robot_bar_pkg)/examples/simple.txt" >
  </param>
  <!-- <rosparam> -->
  <!--   filename: "$(find robot_bar_pkg)/examples/simple.txt" -->
  <!-- </rosparam> -->
</launch>
